.container_card {
  background-color: var(--white);
  text-align: center;
}

.container_card h3{
  margin-top: 2rem;
}

.mySwiper {
  padding-bottom: 2rem;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
