

.container_card {
  padding: 2rem 2rem 0 2rem;
  background-color: var(--white); 
  text-align: center;
}

.title_card {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--dark);
}

.mySwiper {
  padding-bottom: 2rem;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
