.mySwiper {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin: 4rem auto 7rem auto;
  cursor: pointer;
}

.mySwiper .swiper-wrapper {
  width: max-content !important; 
}

.mySwiper .swiper-slide {
  flex-shrink: 0 !important;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px !important; 
  height: auto;
  transition: transform 0.3s;
}

.mySwiper .swiper-slide:nth-child(2n) {
  transform: scale(0.9);
  opacity: 0.9;
}

.mySwiper .swiper-slide:nth-child(3n) {
  transform: scale(0.8);
  opacity: 0.8;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.swiper-pagination{
    background-color: transparent;
}