.container_cta h4{
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1.7rem;
  color:var(--white);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.container_cta p{
  font-size: 16px;
  color:var(--white);
  margin-bottom: 32px;
  font-weight: 300;
}
/** Container principal*/
.container_cta {
  text-align: center;
  margin-bottom: 1.4rem;
  padding: 4rem;
  background-color: var(--dark);
background-image:
    linear-gradient(rgba(255,255,255,.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.04) 1px, transparent 1px);
background-size: 40px 40px;
}

/* CTA */
.btn_navigation.cta {
  padding: 0.7rem 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.btn_navigation.cta:hover {
  filter: brightness(0.95);
}
