.container_presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 5rem 0;
}

.welcome_title {
  margin: 0.4rem 0;
  font-size: 33px;
  letter-spacing: 0.5px;
}

.btn_work {
  display: inline-block;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.3rem;
  letter-spacing: 0.5px;
  font-size: 15px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--dark);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn_work:hover {
  transform: scale(1.1);
}

.subtitle {
  margin: 1rem 0 1.5rem 0;
  font-size: 17px;
}

.image_wsp {
  margin: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.aboutHerreria {
  margin: 0.5rem 1rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .container_presentation {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 468px) {
  .container_presentation {
    grid-template-columns: 1fr;
  }
  .working {
    display: none;
  }
  .image_wsp {
    margin: 3rem 0.5rem;
    width: 30px;
  }
}
