
*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}

:local{
  --light-gray:#F2F2F2;
}


html, body {
  scroll-behavior: smooth;
}

:root{

  --dark: #333;
  --background: #FAFAFA;
  --border: #eaeaea;
  --linkFoter: #546e7a;
  --white: #ffffff;
  --bgDarkButton:#2d2d2a;
  --title: #222;
  --darklight: #444;
  --gray2: #f8f8f8;
  --green:#2e7d32;
  --cta: #ffc107;
  --hoverBtn: #111;
}

.titles {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}