* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  overflow-x: hidden;
}

:local {
  --light-gray: #f2f2f2;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #fff;

  color: #333;
}

:root {
  --dark: #333;
  --background: #fafafa;
  --border: #eaeaea;
  --linkFoter: #546e7a;
  --white: #ffffff;
  --bgDarkButton: #2d2d2a;
  --title: #222;
  --darklight: #444;
  --gray2: #f8f8f8;
  --ctaHover: #3f5863;
  --cta: #546e7a;
  --hoverBtn: #111;
}

.titles {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}
