@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
:root {
  --dark: #1b1a18;
  --background: #f3efe6;
  --border: #eaeaea;
  --white: #ffffff;
  --bgDarkButton: #2d2d2a;
  --title: #222;
  --darklight: #444;
  --cta: #d65a2c;
  --hoverBtn: #111;
  --description:#5c584f;
  --line-light:#d8d0bb;
  --line-dark:#3c3830;
}

h1,h2,h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--dark);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.title-uppercase {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    gap: 10px;
    color:var(--cta);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  overflow-x: hidden;
}


html,
body {
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--dark);
}

button, a{
  font-family: 'JetBrains Mono', monospace;
}