@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif; /* cuerpo */
  color: #333;
}

h1, h2, h3, .title_service, .title_card {
  font-family: 'Montserrat', Arial, sans-serif; /* títulos */
  font-weight: 700;
  color: #222;
}

:root {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
